{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <title>
            AstroZ
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{%static 'css/main.css'%}">
        <link rel="icon" href="{%static 'imgs/astroz.png'%}" type="image/png">

    </head>
    <body>
        <header>
            <img src="{%static 'imgs/astroz.png'%}">
        </header>
        <container>
        <div class="container">
            {%for i in products%}
        <div class="card">
            <div class="lines"></div>
                <div class="imageBox">
                {%if i.img != ""%}
                    <img src="{{i.img.url}}" alt="avatar" onerror="this.onerror=null; this.src = 'https://static.thenounproject.com/png/1856610-200.png'">
                {%else%}
                    <img src="https://static.thenounproject.com/png/1856610-200.png" alt="avatar">
                {%endif%}
                </div>
            <div class="content">
                <div class="details">
                    <h2>{{i.title}}<br/> <span>{{i.subtitle}}</span></h2>
                <div class="info">
                    <h3>Lines Count<br/>{{i.f1}}<span></span></h3>
                    <h3>Price<br/><span style="color:red; text-decoration: line-through;">{{i.price}}$</span> / <span>{{i.offer}}$</span></h3>
                </div>
                <div class="actions">
                    <a href="https://wa.me/+201101357016/?text=Hello sir, I have requested this application:
                    Application: {{i.title}}
                    the details
                    _______
                    Type: {{i.subtitle}}
                    Price: {{i.offer}} dollars\n"><button>Get now 🤓</button></a>
                </div>
                </div>
            </div>
        </div>
            {%endfor%}
        </div>
        </container>
    </body>
</html>